<div>
    <div class="bg-light border border-primary p-3 rounded m-3">
        <h1 class="display-4 text-center">My Reviews</h1>
        <p class="lead text-center"><%= reviews.length %>  reviews from <%= user['username'] %></p>
    </div>
    <hr>
    <ol>
        <% for (review of reviews){%>
            <li class="mb-2">          
                <b><%= review.name%>:</b><i><%= review.rating %></i>
                <!-- <% if (review.p) {%>
                    <a href="/todo/completed/false/<%= review._id%>">  Done</a>
                <% } else {%>
                    <a href="/todo/completed/true/<%= review._id%>"> In Process</a>
                <% } %> -->
                <br>
                <%= review.storyandplot %> 
                <!-- <a href="/todo/delete/<%= review._id%>">(delete)</a> -->
            </li>
        <% }%>
    </ol>
    <hr>
</div>

<div>
    <button type="submit" class="btn btn-primary"><a href="/addreview">add review</a></button>
</div>
